.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  text-align: center;
  padding: 20px;
  width: 100%;
}

.correcta{
  color: #17A2B8;
  font-size: 28px;
  margin-left: -25px;
}

.incorrecta{
  color: #DA2D2D;
  font-size: 28px;
  margin-left: -25px;
}
