<div class="jumbotron text-center">
  <h1>Bienvenido {{nombreUsuario}}</h1>
  <p class="lead text-muted">CUESTIONARIOS</p>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <button class="btn btn-success btn-block btn-cues" routerLink= "/dashboard/nuevoCuestionario/pasoUno">NUEVO CUESTIONARIO</button>
    </div>
  </div>
</div>

<div *ngIf="loading" class="form-group mt-3" style="margin-top: 60px;">
  <div class="d-flex justify-content-center" style="padding: 20px;">
    <app-loading></app-loading>
  </div>
</div>

<div *ngIf="!loading" class="card-columns" style="margin-top: 60px;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let cuestionario of listCuestionarios" >
      <div class="card bg-light">
        <div class="card-body text-center">
          <h4 class="card-title">{{cuestionario.nombre}}</h4>
          <p class="card-text">{{cuestionario.descripcion}}</p>
          <div class="row">
            <button class="btn btn-danger  radius" (click)="eliminarCuestionario(cuestionario.id)" >ELIMINAR</button>
            <button routerLink="/dashboard/estadisticas/{{cuestionario.id}}" routerLinkActive="router-link-active"  class="btn btn-info radius">EST</button>
            <button class="btn btn-success  radius" routerLink="/dashboard/verCuestionario/{{cuestionario.id}}">VER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 *ngIf="listCuestionarios.length == 0 && !loading" class="text-center" >No hay cuestionarios para mostrar</h3>
